<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>8938741254-1lb078jo5ig5ieehi94p8gfgc05kev3e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.8938741254-1lb078jo5ig5ieehi94p8gfgc05kev3e</string>
	<key>API_KEY</key>
	<string>AIzaSyABbqQoRS-Pu36mwPjuyisT4KwLQv89KRA</string>
	<key>GCM_SENDER_ID</key>
	<string>8938741254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>XXX.Swapping</string>
	<key>PROJECT_ID</key>
	<string>swappingapp-c409e</string>
	<key>STORAGE_BUCKET</key>
	<string>swappingapp-c409e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:8938741254:ios:ba4e77c35b3c6920f92d87</string>
</dict>
</plist>
